[Server]
Host      = "localhost"
Port      = 8075
IsDevel   = true
EnableVFS = true

[Database]
Addr            = "localhost:5432"
User            = "postgres"
Database        = "reactions"
Password        = ""
PoolSize        = 5
ApplicationName = "botsrv"

[Bot]
Token = ""